<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="main" arguments="" stdoutLogEnabled="true" stdoutLogFile="logs\stdout.log">
        </httpPlatform>
    </system.webServer>
</configuration>